/*//----------------------------------------// DISPLAY //----------------------------------------//*/
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.table-cell {
  display: table-cell;
}

.none {
  display: none;
}

.block {
  display: block;
}

/*//----------------------------------------// FLEX-DIRECTION //----------------------------------------//*/
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*//----------------------------------------// JUSTIFY //----------------------------------------//*/
.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.right {
  justify-content: right;
}

.vertical-middle {
  vertical-align: middle;
}

/*//----------------------------------------// ALIGN //----------------------------------------//*/
.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/*//----------------------------------------// POSITTION //----------------------------------------//*/
.absolute {
  position: absolute;
}

/*//----------------------------------------// BACKGROUND-COLOR //----------------------------------------//*/
.bg-gray {
  background-color: hsl(0, 0%, 75%, 0.3);
}

/*//----------------------------------------// WIDTH //----------------------------------------//*/
.width-100 {
  max-width: 100%;
}

/*//----------------------------------------// HEIGHT //----------------------------------------//*/
.height-100 {
  max-height: 100%;
}

/*//----------------------------------------// COLOR //----------------------------------------//*/
.white {
  color: white;
}

/*//----------------------------------------// FONT WEIGHT //----------------------------------------//*/
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

/*//----------------------------------------// FONT-SIZE //----------------------------------------//*/
.fs-small {
  font-size: 20px;
}

.fs-medium {
  font-size: 30px;
}

.fs-large {
  font-size: 60px;
}

/*//----------------------------------------// MARGIN //----------------------------------------//*/
.m-auto {
  margin: 0 auto;
}

.mt-50 {
  margin-top: 50px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mtb-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

/*//----------------------------------------// PADDING //----------------------------------------//*/
.pt-50 {
  padding-top: 50px;
}

/*//----------------------------------------// CONTAINER //----------------------------------------//*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.gap-30 {
  gap: 30px;
}

.sticky {
  position: sticky;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}