/*//----------------------------------------// DISPLAY //----------------------------------------//*/
@import "normalize/normalize.css";
@import "global-variables.css";
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.table-cell {
  display: table-cell;
}

.none {
  display: none;
}

.block {
  display: block;
}

/*//----------------------------------------// FLEX-DIRECTION //----------------------------------------//*/
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*//----------------------------------------// JUSTIFY //----------------------------------------//*/
.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.right {
  justify-content: right;
}

.vertical-middle {
  vertical-align: middle;
}

/*//----------------------------------------// ALIGN //----------------------------------------//*/
.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/*//----------------------------------------// POSITTION //----------------------------------------//*/
.absolute {
  position: absolute;
}

/*//----------------------------------------// BACKGROUND-COLOR //----------------------------------------//*/
.bg-gray {
  background-color: hsla(0deg, 0%, 75%, 0.3);
}

/*//----------------------------------------// WIDTH //----------------------------------------//*/
.width-100 {
  max-width: 100%;
}

/*//----------------------------------------// HEIGHT //----------------------------------------//*/
.height-100 {
  max-height: 100%;
}

/*//----------------------------------------// COLOR //----------------------------------------//*/
.white {
  color: white;
}

/*//----------------------------------------// FONT WEIGHT //----------------------------------------//*/
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

/*//----------------------------------------// FONT-SIZE //----------------------------------------//*/
.fs-small {
  font-size: 20px;
}

.fs-medium {
  font-size: 30px;
}

.fs-large {
  font-size: 60px;
}

/*//----------------------------------------// MARGIN //----------------------------------------//*/
.m-auto {
  margin: 0 auto;
}

.mt-50 {
  margin-top: 50px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mtb-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

/*//----------------------------------------// PADDING //----------------------------------------//*/
.pt-50 {
  padding-top: 50px;
}

/*//----------------------------------------// CONTAINER //----------------------------------------//*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.gap-30 {
  gap: 30px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/*//---------------------------------------------------------// HOME //---------------------------------------------------------------//*/
.home-body {
  background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
}

@media (max-width: 60em) {
  .home-body {
    background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
  }
}
/*//----------------------------------------// PRIMARY-HEADER //----------------------------------------//*/
.logo {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  /*//----------------------------------------// PRIMARY-NAVIGATION //----------------------------------------//*/
}
.primary-header .primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2em;
  background: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
.primary-header .primary-navigation li {
  text-transform: uppercase;
}
.primary-header .primary-navigation li span {
  font-weight: 700;
  -webkit-margin-end: 0.75em;
          margin-inline-end: 0.75em;
}
@media (max-width: 35em) {
  .primary-header .primary-navigation {
    z-index: 1000;
    gap: 2.5em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-header .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }
  .primary-header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(../starter-code/assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2.6rem;
    right: 0.4rem;
  }
  .primary-header .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../starter-code/assets/shared/icon-close.svg);
  }
}
@media (min-width: 35em) and (max-width: 55em) {
  .primary-header .primary-navigation span {
    display: none;
  }
}
@media (min-width: 35em) {
  .primary-header .primary-navigation {
    gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2em;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

/*//----------------------------------------// HERO //----------------------------------------//*/
.hero {
  place-items: center;
  padding: 0 10px 0 10px;
}

.left-hero {
  width: 50%;
}
.left-hero span {
  text-transform: uppercase;
  font-size: var(--fs-700);
}
.left-hero .left-hero-space {
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
}
.left-hero p {
  max-width: 80%;
}

.right-hero {
  width: 50%;
  text-align: center;
  justify-content: center;
}
.right-hero .right-hero-button {
  display: flex;
  background-color: white;
  text-transform: uppercase;
  padding: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(255, 251, 251) 0px 0px 15px;
  cursor: pointer;
}
.right-hero .right-hero-button a {
  color: black;
  font-family: var(--ff-serif);
  font-size: 2.5rem;
}

.right-hero-button:hover {
  padding: 3.3rem;
  transition: 0.5s;
  box-shadow: rgb(255, 251, 251) 0px 0px 30px;
}

.right-hero-button:not(:hover) {
  padding: 3rem;
  transition: 0.5s;
}

@media (max-width: 60em) {
  .hero {
    padding: 0;
    flex-direction: column;
    margin-top: 2rem;
  }
  .left-hero {
    text-align: center;
    width: 80%;
    max-height: 35vh;
    margin-bottom: 5rem;
  }
  .left-hero p {
    max-width: 100%;
  }
  .right-hero-button {
    margin: 2.5rem 0 2rem 0;
  }
}
@media (max-width: 320px) {
  .hero {
    margin-top: 0;
  }
  .left-hero {
    max-height: 38vh;
  }
}
/*//---------------------------------------------------------// DESTINATION //---------------------------------------------------------------//*/
.destination-body {
  display: flex;
  flex-direction: column;
  background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
}

@media (max-width: 60em) {
  .destination-body {
    background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
  }
}
/*//----------------------------------------------// DESTINATION-NAV //-----------------------------------------//*/
.destination-nav {
  width: 80%;
  justify-content: space-around;
  padding-inline: 10px;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.destination-nav h2 {
  text-transform: uppercase;
  font-weight: var(--fs-800);
  min-width: 300px;
}
.destination-nav h2 span {
  font-weight: 700;
  -webkit-margin-end: 0.75em;
          margin-inline-end: 0.75em;
}
.destination-nav .destination-selector {
  text-transform: uppercase;
  font-size: 1.5em;
  gap: 2em;
  padding-inline: clamp(3rem, 6vw, 10rem);
}
.destination-nav .destination-selector button {
  border: none;
  text-transform: uppercase;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 3px no-repeat;
  transition: 0.5s;
}
.destination-nav .destination-selector button:hover {
  --d: 100%;
}

/*//----------------------------------------------// DESTINATION-CARD //-----------------------------------------//*/
.destination-card {
  width: 100%;
  justify-content: space-around;
  padding-inline: 10px;
  align-items: center;
}

.destination-card-description {
  max-width: 600px;
}
.destination-card-description h1 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: 4rem;
}

.destination-card-line {
  height: 3px;
  width: 100%;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.destination-card-data {
  text-transform: uppercase;
  gap: 7em;
}
.destination-card-data h2 {
  font-family: var(--ff-serif);
  font-size: 2.2rem;
}

@media (max-width: 80em) {
  .destination-nav {
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  .destination-nav h2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .destination-nav .destination-selector {
    padding: 0;
    justify-content: space-evenly;
  }
  .destination-nav .destination-selector button {
    padding: 0;
  }
  .destination-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .destination-card .destination-card-image {
    margin-bottom: 1.5rem;
  }
  .destination-card .destination-card-image img {
    width: 350px;
    height: auto;
  }
  .destination-card .destination-card-line {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
  }
  .destination-card .destination-card-data {
    justify-content: space-between;
    gap: 0;
    padding-inline: 20px;
  }
}
@media (max-width: 30em) {
  .destination-selector {
    max-width: 300px;
    gap: 15px !important;
  }
  .destination-card .destination-card-image img {
    width: 300px;
    height: auto;
  }
  .destination-card-data {
    flex-direction: column;
    justify-content: center;
  }
}
/*//----------------------------------------------// CREW //-----------------------------------------//*/
.crew-body {
  background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
}

.crew-data {
  justify-content: center;
  max-width: 50%;
}
.crew-data h2 {
  text-transform: uppercase;
}
.crew-data h2 span {
  font-weight: 700;
  -webkit-margin-end: 0.75em;
          margin-inline-end: 0.75em;
}
.crew-data .crew-rank {
  font-family: var(--ff-serif);
  margin-top: 5rem;
}
.crew-data .crew-name {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
}
.crew-data .crew-selector {
  gap: 1em;
  margin-top: 4em;
}
.crew-data .crew-selector button {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 0;
}
.crew-data .crew-selector button:hover,
.crew-data .crew-selector button:focus {
  background-color: gray;
  transition: 0.3s;
}

.crew-image {
  border-bottom: 1px solid white;
  width: 450px;
  scale: 1;
}

@media (max-width: 85em) {
  .crew-container {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .crew-container .crew-image {
    width: 450px;
    height: auto;
  }
  .crew-container .crew-data {
    text-align: center;
    max-width: 100%;
    padding-inline: 10px;
  }
  .crew-container .crew-data .crew-rank {
    margin-top: 2rem;
  }
  .crew-container .crew-data .crew-selector {
    margin: 0 auto;
    margin-top: 2rem;
  }
}
@media (max-width: 30em) {
  .crew-container .crew-image {
    width: 300px;
    height: auto;
  }
  .crew-container .crew-data h2 span {
    -webkit-margin-end: 0.1em;
            margin-inline-end: 0.1em;
  }
  .crew-container .crew-data .crew-name {
    font-size: 2.5rem;
  }
  .crew-container .crew-data .crew-rank {
    margin-top: 1rem;
  }
}
/*//----------------------------------------------// TECCHNOLOGY //-----------------------------------------//*/
.technology-body {
  background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
}

.technology-container {
  justify-content: center;
  align-items: center;
}

.technology-data h2 {
  text-transform: uppercase;
  margin-left: 3rem;
}
.technology-data h2 span {
  font-weight: 700;
  -webkit-margin-end: 0.75em;
          margin-inline-end: 0.75em;
  font-size: 1.4rem;
}
.technology-data span {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.technology-data .technology-title {
  font-family: var(--ff-serif);
  font-size: 3rem;
  margin: 0;
}
.technology-data .technology-buttons {
  gap: 1.5rem;
  align-items: center;
  padding-inline: 20px;
}
.technology-data .technology-buttons button {
  color: black;
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0;
  place-items: center;
}
.technology-data .technology-buttons button:hover {
  transition: 0.3s;
  box-shadow: rgb(255, 251, 251) 0px 0px 15px;
}
.technology-data .technology-buttons button:not(:hover) {
  box-shadow: none;
  transition: 0.5s;
}

.technology-info {
  max-width: 70%;
}

@media (max-width: 70em) {
  .technology-data h2 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .technology-data .technology-buttons {
    flex-direction: row;
    padding: 10px;
  }
  .technology-content {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .technology-info {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .technology-image {
    display: flex;
    justify-content: center;
  }
  .technology-image img {
    max-width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */